#About {
    letter-spacing: 2px;
    margin: 50px 10% 0 10%;
}

.text-with-images {
    text-align: justify;
}

.left-image {
    float: left; /* Aligns the first image to the left */
    margin-right: 10px; /* Adds space between the image and the text */
    width: 200px; /* Adjust the width as needed */
    max-height: 360px;
    margin-right: 30px;
}

.right-image {
    float: right; /* Aligns the second image to the right */
    margin-left: 10px; /* Adds space between the image and the text */
    width: 200px; /* Adjust the width as needed */
    margin-left: 30px;
}

.quote {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}


@media only screen and (max-width: 1024px) {
    #About {
        letter-spacing: 1px;
        margin: 50px 10% 0 10%;
    }
    
    .text-with-images {
        text-align: justify;
    }
    
    .left-image {
        width: 100%; /* Adjust the width as needed */
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    .right-image {
        width: 100%; /* Adjust the width as needed */
        margin-left: auto;
        margin-bottom: 20px;
    }
    
    .quote {
        font-family:'Times New Roman', Times, serif;
        text-align: center;
    }
}