:root {
  --mainTextColor: rgba(255, 255, 255, 0.87);
  --hoverLinkColor: rgba(128, 177, 214, 0.87);
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to top, rgb(11, 11, 11), rgb(10, 0, 48));
  min-height: 100vh;
  /* Ensure it covers the full height */
  padding: 0 10%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}


@media only screen and (max-width: 1024px) {
  :root {
    --mainTextColor: rgba(255, 255, 255, 0.87);
    --hoverLinkColor: rgba(128, 177, 214, 0.87);
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(to top, rgb(11, 11, 11), rgb(10, 0, 48));
    min-height: 100vh;
    /* Ensure it covers the full height */
    padding: 03%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
  }
}