:root {
  --mainTextColor: rgba(255, 255, 255, 0.87);
  --hoverLinkColor: rgba(128, 177, 214, 0.87);
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to top, rgb(24, 24, 24), rgb(2, 0, 10));
  min-height: 100vh;
  /* Ensure it covers the full height */
  padding: 0 10%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  scroll-behavior: smooth;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}


@media only screen and (max-width: 1024px) {
  :root {
    padding: 0 3%;
  }

  .section_title {
    margin-top: 60px;
    font-size: 15px;
  }
}